h1,h2,h3,h4 {
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bodyContainer{
  border-color:aqua
}
  div {
    width: auto;
    padding: 15px;
    border: 3px maroon
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p.element {
    text-align: center;
  }